.list__item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;

}
.list__item:not(:last-child){
    margin-bottom: 15px;
}
.status__online{
    color: #0EE458;
}
.status__offline{
    color: #E41B0E;
}

