.stats {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
    /* border: solid 2px;
    border-color: rgb(139, 138, 138); */
    /* gap: 20px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 100%;
    /* width: 20%; */
    gap: 10px;
    }
.item:not(:last-child){
    /* border-right:solid 2px;
    border-color:  rgb(139, 138, 138); */
}
.item:nth-of-type(1) {
    background-color:#EC7063;
    border-radius: 8px 0px 0px 8px ;
    }
.item:nth-of-type(2) {
    background-color: #8E44AD;
    }
.item:nth-of-type(3) {
    background-color: #F1C40F;
    }
.item:nth-of-type(4) {
    background-color: #7DCEA0;
    }
.item:nth-of-type(5) {
    background-color:#EDBB99;
    border-radius: 0px 8px 8px 0px;
}
.label{
    font-family: 'Oxygen'-apple-system;
    font-size: 20px;
    font-weight: 400;
    color:white ;
}
.percentage{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color:white;
}